body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.left-side {
  width: 50%;
  background-color: #6a0dad; /* Purple color */
  border-top-right-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
}

.right-side {
  width: 50%;
  background-color: white;
}
